@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

*{
    font-family: 'Short Stack', sans-serif;
}

 body {
    background-color: #cbf9ff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #526e84;
}

input:focus + .slider {
    box-shadow: 0 0 1px #526e84;
}

input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

#wrapper {
    margin: 50px;
    padding: 50px;
    background-color: #FAF9F6;
    border-radius: 20px;
}

#navbar {
    display: flex;
}

#navbar button {
    background-color: #4e7171;
    border: 0px;
    box-shadow: none;
    width: 100%;
}

#navbar button:hover {
    background-color: #436767;
}

header h1{
    margin:0;
    color:black;
    text-align:center;
    font-size:80px;
    font-weight: 600;
    padding-top: 35px;
    padding-bottom: 35px;
}

#status{
    font-style: italic;
}

#content {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px 20px;
}

#content > p {
    column-span: 1 / -1;
}

.result {
    display: flex;
    flex-direction: column;
    border: solid grey;
    padding: 10px;
}

.result img {
    display:block;
    width: 100%;
    box-shadow: 0 4px 5px 0;
}

.result span {
    order: -1;  
}

.result a {
    text-decoration: none;
    color: white;
}

.result button {
    background-color: #4e7171;
    border-color: #4e7171;
}

.result #url {
    visibility: hidden;
}

button{
    font-family: 'Short Stack', sans-serif;
    display : inline-block;
    cursor : pointer;
    border-style : solid;
    border-width : 1px;
    padding : 10px 18px;
    box-shadow : 0 1px 4px rgba(0,0,0,.6);
    font-size : 9.5pt;
    font-weight : bold;
    color : #fff;
    text-shadow : 0 1px 3px rgba(0,0,0,.4);
    text-decoration : none;
}

button.green{
    border-color: #4e7171;
    background: #4e7171;
    background: linear-gradient(top, #4e7171 0%,#436767 100%);
}

button:hover{
    background: #4e7171;
}

button:active{
    background: #4e7171;
    box-shadow : 0 0 6px rgba(0,0,0,.6);
}

button:focus {outline:0;}

.widgets {
    display: flex;
    flex-flow: wrap;
    margin-top: 1em;
    margin-bottom:1em;
    justify-content: center;
}

#search-button {
    text-align: center;
}

#search-wrapper {
    border: 1px solid;
    width: 300px;
    height: 40px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: white;
}

#search-wrapper label {
    font-size: 0.75em;
    text-align: left;
    vertical-align: top;
    text-transform: uppercase;
    color: rgb(144, 144, 144);
    margin-left: 2px;
}

input {
    border: 0px;
    width: 200px;
    height: 35px;
}

#select-wrapper {
    border: 1px solid;
    width: 80px;
    padding-left: 5px;
    margin-left: 20px;
    background-color: white;
}

#select-wrapper label {
    font-size: 0.75em;
    text-align: left;
    text-transform: uppercase;
    color: rgb(144, 144, 144);
}

select {
    border: 0px;
    width: 70px;
}
